{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Index Page{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'temp/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'temp/css/navbar.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include "temp/nav.html" %}
    <div class="container">
        <main>
            {% block content %} {% endblock %}
        </main>
    
    </div>
    <footer>
        <p>&copy; 2026 Temp App.All rights reserved.</p>
        
    </footer>
</body>
</html>