.home-hero {
    background-color: #f0f0f0;
    padding: 50px 20px;
    text-align: center;
}

.home-hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #24737e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #24737e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary{
    background-color: #24737e;
    border: 1px solid #24737e;
    color: #fff;

}

.btn:hover, .btn-primary:hover {
    background-color: #1b5e63;
    border-color: #1b5e63;
}

.btn-primary:hover {
    background-color: #1b5e63;
    border-color: #1b5e63;
}
