.navbar{
    background-color: #8e8e8e;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar .logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.navbar .nav-links{
    list-style-type: none;
    margin: 0;
    display: flex;
    padding: 0;
}

.navbar li{
    margin-left: 20px;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.navbar a:hover{
    color: #24737e;
}